html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior-y: none;
}

body {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
